:root {
  --primary-color-light: #fff;
  --primary-color-blue-dark: #011c44;
  --primary-color-blue-light: #2b7fff;
  --primary-secondary-color-grey-light: #747272;
  --primary-secondary-color-grey-dark: #4a4a4a;
  --primary-secondary-color-blue: #011f4a;
  --primary-secondary-color-yellow: #ffd02b;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;