.form {
  border-radius: 32px;
  padding: 18px 33px;
  border: 2px solid var(--beauty-landing-25, #747272);
  width: 310px;
  height: 52px;
  background: transparent;
  transition: background-color 0.2s, color 0.2s;

  &:focus {
  background: var(--primary-secondary-color-grey-light);
  color: var(--primary-color-blue-dark);
  }
  
  &::placeholder {
  color: #fff;
  }
}
