.privacy {
  padding-top: 8px;
  color: var(--primary-secondary-color-grey-light);
  font-size: 12px;
  width: 213px;
  text-align: center;

  &__footer {
  color: var(--primary-secondary-color-grey-light);
  font-size: 13px;
  }
}
